body{
    text-align: center;
    background-color: cornflowerblue;
    color: rgba(0, 0, 0, 0.76);
    font-size: 25px;
    font-family: "Lucida Console", "Courier New", monospace;
}
.header-title{
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 0, 0.76);
    font-size: 64px;
    font-family: "Lucida Console", "Courier New", monospace;

}
.header-name{

    text-align: center;
    color: rgba(0, 0, 0, 0.76);
    font-size: 25px;
    font-family: "Lucida Console", "Courier New", monospace;
}
.main-blog{
    background-color:dimgray;
    width: 90vw;
    margin: 3rem auto;
    padding: 12px;
    text-align: center;
}
.post{
    background-color:dimgray;
    color: black;
    width: 80vw;
    margin: 2rem auto;
    padding: 12px 24px;
    text-align: center;
}
.post-header{
    background-color: dimgray;
    width: 80vw;
    margin: 3rem auto;
    padding: 12px 24px;
    text-align: center;
}
.post-image-sleep{
    background-image: url(img/sleep.jfif);
    background-position: center;
    background-repeat: no-repeat;
    color:white;
    height: 20vh;
}

